@font-face {
    font-family: 'fabfeltscriptbold';
    src: url('/fonts/webfont/fabfeltscript-bold.eot');
    src: url('/fonts/webfont/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/webfont/fabfeltscript-bold.woff2') format('woff2'),
         url('/fonts/webfont/fabfeltscript-bold.woff') format('woff'),
         url('/fonts/webfont/fabfeltscript-bold.ttf') format('truetype'),
         url('/fonts/webfont/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
}

header{
 width: 100%;
 height: 100px;
 background-color: #FFF;
 display: flex;
 flex-flow: row nowrap;
}

#mainHeading{
  color: #fff;
  font-family: 'fabfeltscriptbold';
  font-size: 50px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  letter-spacing: 1px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: rgba(247,155,46, 0.7);
  width: 300px;
  height: 80px;
}

.loginNav{
  height: inherit;
  display: flex;
  // flex-flow: row wrap;
  margin-left: 40%;
  padding-top: 0px;
  z-index: 2;
}


#loginForm{
  display: block;
  z-index: 2;
}

// styles for login/reg buttons
.animBtn:link, .animBtn:visited {
  position: relative;
  display: block;
  width: 90px;
  margin: auto;
  padding: 8px;
  border: 2px solid #F79B2E;
  background: rgba(255, 255, 255, 0.2);
  color: #F79B2E;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.fill {
  position: relative;
  display: block;
  border: 2px solid #F79B2E;
  background: rgba(255, 255, 255, 0.2);
  color: #F79B2E;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.animBtn:link:after, .animBtn:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #F79B2E;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
.animBtn:link:hover, .animBtn:visited:hover {
  color: #fff;
  text-shadow: none;
}

.animBtn:link:hover:after, .animBtn:visited:hover:after {
  height: 420%;
}

.animBtn.themeA:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
// Ends LogIn Reg Buttons

// addbutton styles
.animBtnB:link, .animBtnB:visited {
  position: relative;
  display: block;
  width: 90px;
  margin: auto;
  padding: 8px;
  border: 2px solid #1FD26A;
  background: rgba(255, 255, 255, 0.2);
  color: #1FD26A;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.fill {
  position: relative;
  display: block;
  border: 2px solid #1FD26A;
  background: rgba(255, 255, 255, 0.2);
  color: #1FD26A;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.animBtnB:link:after, .animBtnB:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #1FD26A;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.animBtnB:link:hover, .animBtnB:visited:hover {
  color: #fff;
  text-shadow: none;
}

.animBtnB:link:hover:after, .animBtnB:visited:hover:after {
  height: 420%;
}

.animBtnB.themeB:after {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
// ends addbutton styles

#tcontrol{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 100%;
}

#addNew{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#addNewForm{
  width: 450px;
  border: none;
  color: #fff;
  background-color: rgba(31,210,106, 0.7);
}

#newTask{
  font-size: 20px;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 10px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.taskInput{
  width: 300px;
  height: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
  padding-left: 5px;
}

#Description{
  font-size: 12px;
  width: 300px;
  padding-left: 5px;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.selectdiv {
  position: relative;
  min-width: 150px;
  margin-right: 70%;
}

.selectdiv:after {
  content: '<>';
  font: 16px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 5px;
  top: 8px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  max-width: 160px;
  height: 25px;
  margin: 5px 0px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}
// ends select dropdown

// Submit Button
.btn-align {
  position: relative;
  top: 75%;
  margin-left: 5%;
}

.btn-ghost {
  display: block;
  width: 5rem;
  height: 1.5rem;
  padding-top: 0.7em;
  font: 12px "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: .09em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .16s ease;
  margin: 0 auto;
}

.btn-white {
  color: #fff;
  border: 2px
  solid #fff;
}

.btn-white:hover, .btn-white:active, .btn-white:focus  {
  color: #1Fd26A;
  background-color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 420px) { /* iPhone Landscape */
  .btn-ghost {
    width: 29.0rem;
    height: 50px; height: 5.0rem;
    font-size: 16px; font-size: 1.6rem;
    line-height: 50px; line-height: 5.0rem;
  }
}
// End of Submit Button Styles

#board{
  display: flex;
  flex-flow: row wrap;
  color: #32313B;
  // border: 1px solid green;
}

.boardHeader{
  height: 50px;
  letter-spacing: 2px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.statusWrap{
  flex: 1 1 33%;
  margin: auto;
  // border: 1px solid hotpink;
}

#status1{
  color: #fff;
  background-color: rgba(236,63,140, 0.7);
}

#status2{
  color: #fff;
  background-color: rgba(0,203,233, 0.7);
}

#status3{
  color: #fff;
  background-color: rgba(31,210,106, 0.7);
}

#notStarted{
  min-height: 600px;
  padding: 4%;
  background-color: #fff;
  // display: flex;
  // flex-flow: row wrap;
  justify-content: center;
}

#inProgress{
  min-height: 600px;
  padding: 4%;
  background-color: #fff;
}

#completed{
  min-height: 600px;
  padding: 4%;
  background-color: #fff;
}

.CARD{
  // flex: 0 1 75%;
  margin: auto;
  width: 80%;
  height: auto;
  padding: 7px;
  margin-top: 10px;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // border: 2px solid purple;
}

.changeOperators{
  width: auto;
  padding: 5px;
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  // border: 2px solid yellow;
  height: 20px;
}

.saveOperator{
  width: auto;
  padding: 5px;
  float: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

#notStartedIcon{
  color: #EC3F8C;
  height: auto;
}

.nsEditForm{
  width: 80%;
  height: auto;
}

.ipEditForm{
  width: 80%;
  height: auto;
}

#inProgressIcon{
  color: #00CBE9;
  height: auto;
}

#completedIcon{
  color: #8BC53F;
  height: auto;
}

.updateButton{
  border: none;
  background: none;
  padding: 10px;
}

.INFO{
  width: 75%;
  padding: 8px;
  // border: 1px solid black;
}

#sideStatNotStarted{
  border-left: 3px solid #EC3F8C;
  border-radius: 5px;
}

#sideStatProgress{
  border-left: 3px solid #00CBE9;
  border-radius: 5px;
}

#sideStatCompleted{
  border-left: 3px solid #8BC53F;
  border-radius: 5px;
}

p{
  padding: 1px;
  margin: 0px;
}