body{
  background-color: #EFEFEF;
}

header{
 height: 75px;
 background-color: #CCCCCC;
 display: block;
 padding: 5px;
 color: #F79B2E;
}

#tcontrol{
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
}

#addNew{
  display: flex;
  flex-flow: row wrap;
}

#board{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#notStarted{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

#inProgress{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

#completed{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

#task{
  border: 1px solid black;
  padding-bottom: 10px;
}