@font-face {
  font-family: 'fabfeltscriptbold';
  src: url("/fonts/webfont/fabfeltscript-bold.eot");
  src: url("/fonts/webfont/fabfeltscript-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/webfont/fabfeltscript-bold.woff2") format("woff2"), url("/fonts/webfont/fabfeltscript-bold.woff") format("woff"), url("/fonts/webfont/fabfeltscript-bold.ttf") format("truetype"), url("/fonts/webfont/fabfeltscript-bold.svg#fabfeltscriptbold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #EFEFEF; }

header {
  height: 90px;
  background-color: #FFF;
  display: block;
  color: #fff;
  font-family: 'fabfeltscriptbold';
  font-size: 25px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px; }

#mainHeading {
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: rgba(247, 155, 46, 0.7);
  width: 300px;
  height: 85px; }

#tcontrol {
  display: flex;
  flex-flow: column nowrap;
  width: 300px; }

#addNew {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row wrap; }

#board {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: top; }

#notStarted {
  width: 350px;
  height: 800px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  justify-content: center; }

#inProgress {
  width: 350px;
  height: 800px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff; }

#completed {
  width: 350px;
  height: 800px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff; }

.CARD {
  width: 325px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.INFO {
  padding: 0px;
  margin: 0px; }
