@font-face {
  font-family: 'fabfeltscriptbold';
  src: url("fabfeltscript-bold.eot");
  src: url("fabfeltscript-bold.eot?#iefix") format("embedded-opentype"), url("fabfeltscript-bold.woff2") format("woff2"), url("fabfeltscript-bold.woff") format("woff"), url("fabfeltscript-bold.ttf") format("truetype"), url("fabfeltscript-bold.svg#fabfeltscriptbold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #EFEFEF; }

header {
  height: 75px;
  background-color: #CCCCCC;
  display: block;
  padding: 5px;
  color: #F79B2E;
  font-family: 'fabfeltscriptbold'; }

#tcontrol {
  display: flex;
  flex-flow: column nowrap;
  width: 300px; }

#addNew {
  display: flex;
  flex-flow: row wrap; }

#board {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: top; }

#notStarted {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff; }

#inProgress {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff; }

#completed {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff; }

.CARD {
  border: 1px solid black;
  padding-bottom: 10px; }
